<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842364766534-nge6sss9rjv6l59852u1dtejmmf7v0h6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842364766534-nge6sss9rjv6l59852u1dtejmmf7v0h6</string>
	<key>API_KEY</key>
	<string>AIzaSyCohh3eeKABUnRQBzMu-vBBGte_XXC33uQ</string>
	<key>GCM_SENDER_ID</key>
	<string>842364766534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.photoclass</string>
	<key>PROJECT_ID</key>
	<string>photoclass-462a2</string>
	<key>STORAGE_BUCKET</key>
	<string>photoclass-462a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842364766534:ios:fee7ba789355e2381dbd47</string>
</dict>
</plist>